body {
    font-family: Montserrat;
    background-image: url('assets/img/bg-01.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.cover {
    height: 50vh;
}

/*.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#333333;stroke:#333333;stroke-miterlimit:10;} containing-shield*/
/*.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#EEEEEE;} lion-face*/
/* Logo text SVG*/
/*Singha*/
.singha-s,
.singha-i,
.singha-n,
.singha-g,
.singha-h,
.singha-a {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: #333333;
    stroke-width: 2;
    animation: fill 3s cubic-bezier(0.83,-0.01, 1, 0.11) forwards;
}

/*Holdings*/
.letter-h,
.letter-o,
.letter-l,
.letter-d,
.letter-i,
.letter-n,
.letter-g,
.letter-s {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: #333333;
    stroke-width: 1;
    animation: fill 5.3s cubic-bezier(0.83,-0.01, 1, 0.11) forwards;
}

/*Logo text SVG end*/
.svg-logo-main {
    height: 10em;
    animation: fade 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.svg-text-path {
    fill: #3E3B3A;
}

#logo-text svg {
    height: 15em;
    width: 100%;
    text-align: center;
}

/*Lion face elements start*/
.lion-face-upper,
.lion-face-lower {
    fill: #EEEEEE;
}

.containing-shield {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: #333333;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.lion-hair {
    fill: #333333;
    stroke: none;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-miterlimit: 10;
}

.lion-eye {
    fill: #333333;
}

/*Lion face elements end*/
.svg-logo-text {
    enable-background: new 0 0 258 120;
    width: 18em;
}

ul > li > a {
    color: #333;
}

ul > li > a:hover {
    color: #333;
}

@keyframes fill{
    0% {
        fill: none;
    }

    100% {
        fill: #333333;
    }
}

@keyframes fade{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.our-work,
.about-us,
.contact-us,
.blog {
    background-color: #333;
    padding: 1em;
    margin-top: 3em;
    display: none;
}

.blog1{
    background-color: #333;
    padding: 1em;
    margin-top: 3em;
    display:;
}

.fa-close{
    cursor: pointer;
}

.btn{
    border-radius: 2em;
}

.btn-light{
    border-radius: 2em;
    color: #fff;
    background-color: transparent;
    font-size: 0.7em;
}

.card-group{
    margin-bottom: 1em;
}

.read-more-btn{
    font-size: 0.5em;
    font-weight: 200;
}

#our-work{
    opacity: 0;
    animation: slideLeft 0.5s linear 0s forwards;
}

#about-us{
    opacity: 0;
    animation: slideLeft 0.5s linear 0.6s forwards;
}

#contact-us{
    opacity: 0;
    animation: slideLeft 0.5s linear 0.7s forwards;
}

#blog{
    opacity: 0;
    animation: slideLeft 0.5s linear 0.8s forwards;
}